html,
body {
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
    margin: 10vh auto 0;
}

ul#status {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
}
